# Entorno virtual
.venv/
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración del entorno
.env
*.env

# Archivos generados por editores o IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Carpeta de distribución (si usas herramientas como setuptools)
dist/
build/
*.egg-info/

# Archivos de macOS
.DS_Store

# Archivos de Windows
Thumbs.db

# Archivos de dependencias instaladas localmente
site-packages/
.fake

# ruta para activar el entorno 
# C:\Users\ll M ll\Documents\c#\Flask>.venv\Scripts\activate